@import url('font.css');
@import url('~normalize.css');

body {
  font-family: 'Roboto', sans-serif;
}

pre {
  font-family: 'Fira Code', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 10rem;
}

.heading {
  text-align: center;
}

.logo {
  background-image: url('../assets/webpack-logo.png');
  background-size: cover;
  height: 12.5rem;
  width: 12.5rem;
  margin: 0 auto;
}
